/* Primery Theme Colors */
/* Theme Text Color */
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.wt-navigation > ul > li:hover > a,
.wt-navigation > ul > li.current-menu-item > a,
.wt-navarticletab li:hover a,
.wt-navarticletab li a.active,
.wt-categoriescontent li a:hover,
.wt-joinsteps li.wt-active a,
.wt-effectivecontent li:hover a,
.wt-articlesingle-content .wt-description .wt-blockquotevone q,
.wt-filtertag li:hover a,
.wt-userlisting-breadcrumb li .wt-clicksave,
.wt-clicksave,
.wt-qrcodefeat h3 span,
.wt-comfollowers ul li:hover a span,
.wt-postarticlemeta .wt-following span,
.tg-qrcodefeat h3 span,
.active-category,
.wt-freelancers-content .dc-title span strong,
.wt-bannerholderthree .wt-bannercontent .wt-title h1 em,
.wt-bannerholderthree .wt-bannercontent .wt-videoholder .wt-videoshow a i

{ color: #29625e; }
/* Theme Background Color */
.wt-btn:hover,
.wt-dropdowarrow,
.navbar-toggle,
.wt-btn,
.wt-navigationarea .wt-navigation > ul > li > a:after,
.wt-searchbtn,
.wt-sectiontitle:after,
.wt-navarticletab li a:after,
.wt-pagination ul li a:hover,
.wt-pagination ul li.wt-active a,
.wt-widgettag a:hover,
.wt-articlesingle-content .wt-description blockquote span i,
.wt-searchgbtn,
.wt-filtertagclear a,
.ui-slider-horizontal .ui-slider-range,
.wt-btnsearch,
.wt-newnoti a em,
.wt-notificationicon > a:after,
.wt-rightarea .wt-nav .navbar-toggler,
.wt-usersidebaricon span,
.wt-usersidebaricon span i,
.wt-filtertag .wt-filtertagclear a,
.loader:before,
.wt-offersmessages .wt-ad:after,
.wt-btnsendmsg,
.wt-tabstitle li a:before,
.wt-tabscontenttitle:before,
.wt-tablecategories thead tr th:first-child:before,
.wt-tablecategories tbody tr td:first-child:before,
.wt-slidernav .wt-prev:hover,
.wt-slidernav .wt-next:hover,
.vb > .vb-dragger > .vb-dragger-styler,
.wt-pagination ul li span,
.la-banner-settings .wt-location h5:after,
.la-section-settings .wt-location h6:after,
.wt-forgotpassword-holder .card .card-body form .form-group button[type=submit],
.wt-featuredtagvtwo,
.wt-reasonbtn,
.wt-headervfour .wt-nav .navbar-toggler,
.wt-categories-nav .navbar-toggler
{ background:#29625e; }
/* Theme Border Color */
input:focus,
.select select:focus,
.form-control:focus,
.wt-navigation > ul > li > .sub-menu,
.wt-pagination ul li a:hover,
.wt-widgettag a:hover,
.wt-joinsteps li.wt-active a,
.wt-filtertag li:hover a,
.wt-filtertag .wt-filtertagclear a,
.wt-themerangeslider .ui-slider-handle,
.wt-clicksavebtn,
.wt-pagination ul li.wt-active a,
.wt-usernav > ul,
.wt-pagination ul li span
{ border-color: #29625e; }
/* RGBA Background Color */
.loader{
	background: #29625e;
	background: -moz-linear-gradient(left, #29625e 10%, rgba(255, 88, 81, 0) 42%);
	background: -webkit-linear-gradient(left, #29625e 10%, rgba(255, 88, 81, 0) 42%);
	background: -o-linear-gradient(left, #29625e 10%, rgba(255, 88, 81, 0) 42%);
	background: -ms-linear-gradient(left, #29625e 10%, rgba(255, 88, 81, 0) 42%);
	background: linear-gradient(to right, #29625e 10%, rgba(255, 88, 81, 0) 42%);
}
/* Secondary Theme Colors */
.form-group-label label span,
.form-group-label label span:hover,
.wt-categoriesholder .wt-tablecategories tbody tr td .wt-actionbtn a.wt-deleteinfo,
.wt-msgbtn{background: #00cc8d;}
.active-category-wrapper{background: #f7f7f7;}