/* css added by ali */

.singup-page .signup-left-box {
    background-color: rgb(39, 78, 191);
    padding-left: 130px;
}

.singup-page .signup-left-box img,
.singup-page .signup-right-box img {
    height: 200px;
    margin-bottom: 40px;
}

.singup-page .signup-left-box .companyinfotitle,
.singup-page .signup-right-box .companyinfotitle,
.singup-page .signup-left-box .wt-description,
.singup-page .signup-right-box .wt-description,
.singup-page .wt-companyinfotitle h2 {
    color: #fff;
}

.singup-page .signup-left-box .wt-btnarea a {
    color: rgb(255, 255, 255);
    background: rgb(255, 201, 60);
    border-radius: 0;
}

.singup-page .signup-right-box {
    background-color: rgb(126, 208, 229);
    padding-right: 130px;
}
.singup-page .signup-right-box .wt-btnarea a {
    color: rgb(255, 255, 255);
    background: rgb(245, 75, 75);
    border-radius: 0;
}

.freelance_box {
    padding: 20px;
    margin-top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.preloader-section {
    display: none;
}

.kapra_number_field {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.invalid-feedback {
    text-transform: initial;
}

.freelance_box .form-group-half {
    padding: 0 5px;
}

.wt-articles .wt-articlecontents {
    min-height: 215PX;
}

.wt-description {
    padding-bottom: 20px;
}

.signup_home .wt-btnarea a {
    border-radius: 0 !important;
}

.top-skils-para a::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(46 124 97);
    font-size: 18px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;
}

.wt-fwidgettitle h3.footer_heading {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(46 124 97);
}
.formDelete button{
    width: 30px;
    float: left;
    color: #fff;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    margin: 0px 5px;
    }

    .select2-container--default .select2-selection--multiple {
       
        min-height: 50px !important;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #5897fb;
        color: white;
        list-style: none;
    }
    .select2-results__option--selectable {
        cursor: pointer;
        list-style: none;
    }
    .infographic-panel.ip-red {
        background-color: #c80000;
    }
    .infographic-panel .content {
        display: table-cell;
        padding: 60px;
        vertical-align: middle;
    }
    .infographic-panel h3 {
        font-size: 28px;
        font-weight: 200;
        line-height: 40px;
        margin: 0;
    }.infographic-panel h3, .infographic-panel p, .infographic-panel a, .infographic-panel li, .infographic-panel blockquote {
        color: #fff;
    }
    .infographic-panel-pair.small-right .ip-right .content {
        padding: 30px;
    }
    .infographic-panel.ip-black {
        background-color: #000;
    }
    .infographic-panel-pair .ip-left {
        border-right: 1px solid #fff;
        float: left;
    }
    .infographic-panel-grid .infographic-panel {
        margin-top: 2px;
    }
    .infographic-panel.ip-grey-light {
        background-color: #e5e5e5;
    }
    .infographic-panel.ip-grey-light h3, .infographic-panel.ip-grey-light p, .infographic-panel.ip-grey-light a, .infographic-panel.ip-grey-light li, .infographic-panel.ip-grey-light blockquote, .infographic-panel.ip-grey-light.ip-hero-icon .content .icon {
        color: #000;
    }
    .infographic-panel .content {
        display: table-cell;
        padding: 60px;
        vertical-align: middle;
    }
    .infographic-panel-pair .ip-right {
        border-left: 1px solid #fff;
        float: right;
    }
    .infographic-panel.ip-grey {
        background-color: #747678;
    }

    .contactform{
        margin: 30px 0px;
    }

    .contactform input.form-control {
        margin: 10px 0px;
    }
    .contactform .wt-btn {
        color: #fff;
        padding: 0 50px;
        background: #fff;
        position: relative;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        font: 700 13px/50px 'Poppins', Arial, Helvetica, sans-serif;
        margin: 20px 0px;
    }
    .titlecontact h3{
        font-size: 28px;
    font-weight: 200;
    line-height: 40px;
    
    margin: 30px 0px;
    text-align: center;
    }
.contactinfo span{
    font-size: 20px;
    font-weight: 200;
    line-height: 40px;
    margin: 0;

}
.SingleFreelancePage .carousel-control-next-icon{
    background-color: #29625e;
    padding-top: 0px !important;
    padding: 15px;
    margin: 15px;
}
.SingleFreelancePage .carousel-control-prev-icon{
    background-color: #29625e;
    padding-top: 0px !important;
    padding: 15px;
    margin: 15px;
}
.SingleFreelancePage{
    padding: 0% 12%;
}
.requiredfield{
    color: #c80000;
}
.dashboardcolums .wt-insightsitemholder .col-12:nth-child(n+5) .wt-insightsitem {
    margin-top: 0px !important;
}

.dashboardcolums .wt-insightsitemholder .col-12:nth-child(n+7) .wt-insightsitem {
    margin-top: 20px !important;
}
.invoiceList{
    background-color: aliceblue;
}
.invoiceList ul li{
    list-style: none;
    margin: 5px;
    padding: 10px;
}

.wt-employer-profile {
    margin-top: -65px;
}


.preview-files a.word {
    display: block;
}
