/*
Styling
*/


#add_single_source {
    color: #999;
    outline: none;
    height: 50px;
    background: #fff;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
    text-transform: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* .wt-navigation>ul>li:hover>a {
    color: #318d64 !important;
} */
.wt-settingscontentuser {
    float: right;
    width: 50%;
    padding: 10px 0px;
}
.wt-settingscontentuser {
    float: right;
    width: 50%;
    padding: 10px 0px;
}
.button {
    background-color: #337ab7;
    ;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin: 4px 3px 25px 7px;
    float: right;
}

.switch-button-control .switch-button .button {
    padding: 0;
    margin: 0;
    float: unset;
}

.wt-btn,
.wt-searchbtn,
.wt-navigationarea .wt-navigation>ul>li>a:after {
    background: #318d64 !important;
}

.wt-formoptions .wt-searchbtn {
    background: #b70023 !important;
}

.wt-pagination ul li span,
.wt-navigation>ul>li>.sub-menu {
    border-color: #318d64 !important;
}

.wt-searchbtn {
    color: #fff !important;
    font-size: 25px;
}

.wt-searchbtn:hover,
.wt-searchbtn:focus {
    color: #fff !important;
}

.wt-pagination ul li span,
.wt-searchgbtn,
.wt-sectiontitle:after {
    background: #318d64 !important;
}

.wt-btn:hover,
.wt-btn,
.wt-searchgbtn {
    color: #fff !important;
}

nav.wt-addnav a {
    color: #fff !important;
}

.wt-checkbox input[type=checkbox]:checked+label:before {
    border-color: #318d64;
}

.wt-checkbox input[type=checkbox]+label:after {
    color: #318d64;
}

.wt-widgettag a:hover {
    border-color: #318d64 !important;
}

.wt-widgettag a:hover {
    color: #fff !important;
    background: #318d64 !important;
}

.wt-clicksavebtn {
    border-color: #318d64 !important;
}

.ant-slider-handle {
    border: 2px solid #318d64 !important;
}

.ant-slider-track {
    background: #318d64 !important;
}

.wt-pagination ul li a:hover {
    border-color: #318d64 !important;
    background: #318d64 !important;
    color: #fff !important;
}

.wt-pagination ul li a:hover i {
    color: #fff !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #318d64 !important;
}

.swal2-styled {
    background: #318d64 !important;
}

.wt-freelancers-content .dc-title span strong {
    color: #318d64 !important;
}

.wt-tablecategories tbody tr td:first-child:before {
    background: #318d64 !important;
}

.wt-navigation>ul>.menu-item-has-children:after {
    z-index: 0 !important
}

.wt-hireduserstatus h4 {
    color: #ff5851 !important;
}

.wt-btnsendmsg,
.wt-btnsendmsg:hover {
    background-color: #318d64 !important;
    color: #fff !important;
}

.wt-usernav>ul {
    border-color: #318d64 !important;
}

.wt-userdetails .wt-description:after {
    display: none !important;
}

.wt-searchgbtn:hover {
    color: #fff !important;
}

.top-skill-anchor:hover {
    text-decoration: none !important;
    color: #2E7C61 !important;
}

fieldset.wt-termsconditions {
    margin-left: 5px !important;
}

input.form-control {
    font-size: 13px;
    height: 40px;
}

select#type {
    height: 40px;
    font-size: 13px;
}

select#distDropDown {
    height: 40px;
    font-size: 13px;
}

select#organization_type {
    height: 40px;
    font-size: 13px;
}

select#deptDropDown {
    height: 40px;
    font-size: 13px;
}

.wt-joinforms {
    /* box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 25%); */
    padding: 16px;
}

.wt-registerhead .wt-title h3 {
    color: #173533 !important;
}

.wt-accordiondetails {
    background: none;
    padding: 15px !important;
}

.wt-twocolumns.wt-haslayout .col-xs-12.col-sm-12.col-md-5.col-lg-5.col-xl-4.float-left {
    background: #fff;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 25%);
}

.wt-userlistinghold {
    padding: 15px;
}

.wt-userlistingimg img {
    border-radius: 5%;
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 25%);
}

.wt-widgettag a {
    border: none;
}

.wt-description {
    border-bottom: 1px solid #ccc;
}

.wt-widgettag a:hover {
    color: #318d64 !important;
    background: none !important;
}

.wt-featured {
    background: none;
}

.wt-searchgbtn {
    line-height: 40px;
}

.wt-userdetails {
    max-width: 100% !important;
}

.wt-userprofileholder {
    margin-bottom: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.wt-description {
    border-bottom: none !important;
}

.wt-profilecounter {
    margin: 0px !important;
    border-left: none!important;
}

.wt-profilecounter .wt-statisticcontent {
    width: 100% !important;
}

#freelancer-left-sidebar {
    border-right: 1px solid #ccc;
    background: #fff;
    min-height: 100%;
}

#freelancer-right-sidebar {
    min-height: 100%;
    background: #fff;
}

.wt-profilecounter .wt-statisticcontent:first-child,
.wt-profilecounter .wt-statisticcontent:nth-child(4) {
    background: none !important;
}

#freelancer-section {
    margin-bottom: 10px !important;
}

.wt-experiencelisting {
    padding: 0px !important;
}

.wt-experiencelisting-hold>div>div:nth-child(even) .wt-bgcolor {
    background: #fafafa;
}

.wt-userprofile figure img {
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 25%);
}

.wt-education .wt-description {
    display: none;
}

.wt-education {
    margin-top: 20px 10px !important;
}

.wt-experiencelisting.wt-bgcolor {
    background: none;
}

.wt-sendofferbtn {
    padding-bottom: 0px !important;
}

.wt-only-experience {
    padding: 20px;
}

.wt-only-experience h2 {
    padding: 9px 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.wt-craftedprojects h2 {
    padding: 16px 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.la-profile-holder .container {
    padding-right: 0px;
    padding-left: 0px;
}

.wt-proposalsr {
    margin-bottom: 0px;
}

.wt-employer {
    margin-bottom: 0px;
}

.employer-job {
    padding-left: 0px;
    padding-right: 0px;
}

.employer-job1 {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
}

.wt-job-border {
    border: none;
}

.wt-title-jobs {
    background: #fff;
}

.wt-title-jobs h3 {
    padding: 16px 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.wt-job-border.wt-userlistinghold.wt-userlistingholdvtwo.wt-featured {
    padding: 30px;
    /* border-bottom: 1px solid #ccc !important;
    margin-top: 0px !important; */
    background: #fff;
}

.employer-profile {
    padding: 0px 0 !important;
}

.employer-job1 .wt-companysinfo figure {
    max-width: 88% !important;
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 25%);
}

/* .wt-job-border.wt-userlistinghold.wt-userlistingholdvtwo.wt-featured:hover {
    box-shadow: none !important;
} */

.wt-job-section {
    padding: 0px !important;
}

.job-banner {
    margin: 0px !important;
}

.wt-job-profile {
    margin-top: 50px;
}

.wt-job {
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 25%);
}

.wt-article {
    border: 1px solid #e8e8e8e8;
}

.wt-chatarea div#scrollList {
    height: auto !important;
}

.wt-offersmessages ul li .wt-dashboardscrollbar {
    height: auto !important;
}

select {
    font-size: 13px !important;
    height: 40px !important;
}

input[type="number"] {
    font-size: 13px !important;
    height: 40px !important;
}

input[type="text"] {
    font-size: 13px !important;
    height: 40px !important;
}

.wt-managejobcontent .wt-userlistinghold {
    border: none !important;
}

.vdpFloating.vdpPositionBottom {
    top: 100%;
}

.wt-userlistingvtwo .wt-userlistingcontentvtwo .wt-rightarea .wt-btnarea span:before {
    left: -22px !important;
}

div#freelancer-section {
    border-top: 1px solid #e8e8e8e8 !important;
    border-bottom: 1px solid #e8e8e8e8 !important;
}

.wt-particlecontent {
    padding: 0px 0 0 14px !important;
}

.wt-categorycontent:hover {
    color: #fff !important;
    box-shadow: 5px 10px 20px 0 rgb(0 0 0 / 25%);
    background-color: #318d64 !important;
}

.wt-categorycontent1 {
    background: #fff;
    float: left;
    width: 100%;
    min-height: 255px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #318d64;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-content: center;
}

.wt-categorycontent1:hover {
    box-shadow: 5px 10px 20px 0 rgb(0 0 0 / 15%);
}

.wt-categorycontent:hover .wt-cattitle a {
    color: #fff !important;
}

.wt-categorycontent:hover .wt-categoryslidup a {
    color: #fff !important;
}

.wt-categoryslidup a:hover {
    color: #fff !important;
}

.wt-companycontent .wt-description {
    min-height: 66px !important;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default>.panel-heading {
    padding: 0;
    border-radius: 0;
    color: #000;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title>a {
    display: block;
    padding: 0px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #173533;
    ;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
}



.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #000;
    text-align: center;
}

.demo-footer>a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.wt-togglecontent {
    margin-bottom: 28px;
}

.wt-freelancers-sidebar {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: 48px !important;
}

.wt-articles-sidebar {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px !important;
}

.wt-effectiveholder {
    background: none !important;
}

.wt-projectcontent a {
    font-size: 15px !important;
    font: caption !important;
    padding: 15px;
    border: 1px solid;
}

.wt-projectcontent a:hover {
    font-size: 15px !important;
    font: caption !important;
    padding: 15px;
    background: #318d64;
    border: 1px solid;
    color: #fff !important;
}

.wt-projectcontent a:hover {
    color: #fff !important;
}

.wt-startsearch {
    background: none !important;
}

.wt-articlewidgettitle h2 {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    padding-bottom: 17px;
    margin-bottom: 20px;
}

.wt-amountbox input#wt-consultationfeeamount {
    background: none !important;
}

.wt-description1 {
    width: auto !important;
    float: left;
}

.wt-insightsitemholder .wt-insightsitem {
    min-height: 212px !important;
}

.wt-navigationarea1 {
    background-color: #f0f0f0 !important;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 10%);
}

.wt-rightarea1 .wt-logininfo .wt-btn {
    background-color: #318d64 !important;
    color: #fff !important;
}

.wt-logininfo .wt-btn {
    color: #fff !important;
    background-color: #318d64 !important;
}

.wt-themerangeslider {
    background: none !important;
}

.wt-companysdetails1 {
    max-height: 100% !important;
    min-height: 100% !important;
}

.wt-employer-index {
    margin-bottom: 20px !important;
}

.user-banner-height {
    max-height: 300px !important;
}

.wt-loginarea {
    border-left: 1px solid #ccc !important;
}

#wrapper1:after {
    border-radius: 50%;
    z-index: 99;
    content: "";
    background-color: #318d64;
    position: absolute;
    width: 1px;
    height: 66%;
    top: 20%;
    left: 50%;
    display: block;
}

.wt-signuppage {
    background: none !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
    background-color: #aaa !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #3085d6 !important;
}

.ant-slider {
    width: 80% !important;
    margin: 0px 18px 10px !important;
    padding: 0px 0 !important;
}

.wt-amountbox {
    margin: 0 0 0px;
}

.wt-nav1 {
    width: auto !important;
}

.navbar-nav1>ul>li>a {
    margin: 0px 0;
    padding: 10px 20px;
}

.wt-loginarea1 {
    margin: 0px 0;
}

.wt-logo1 {
    margin: 2px 0 !important;
}

.form-height {
    margin: 2px 0 6px 30px !important;
}

.bg-colour {
    background-color: #173533
}

.navbar-nav1 a {
    color: #fff !important;
}

.wt-loginarea1 a {
    color: #fff !important;
}

.wt-loginarea1>.wt-btn {
    margin-top: 2px;
    margin-bottom: 2px;
}

.wt-bannerholdervthree:before {
    background: linear-gradient(to right, rgba(41, 98, 94, 1) 0%, rgba(255, 255, 255, 0) 100%) !important;
}

.wt-home-slider:after {
    background: linear-gradient(to bottom, rgba(23, 53, 51, 1) 20%, rgba(255, 255, 255, 1) 115%) !important;
}

.wt-bannerthree-content {
    padding-top: 90px !important;
}

section.null.wt-haslayout.wt-main-section.wt-workholder {
    background: #173533 !important;
}

.section-padding {
    padding: 60px 0;
}

.text-xs-center {
    text-align: center!important;
}

@media (min-width: 1200px) {
    .row1 {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 992px) {
    .row1 {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    .row1 {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 576px) {
    .row1 {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.row1 {
    margin-right: -15px;
    margin-left: -15px;
}

.container1::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 768px) {
    .fourBlock {
        padding: 20px;
    }
}

.fourBlock {
    padding: 20px 10px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.blue-color {
    color: #174a7f;
}

.text-xs-center {
    text-align: center!important;
}

.fourBlock img {
    margin-bottom: 20px;
    height: 115px;
}

.img1 {
    vertical-align: middle;
}

.img1 {
    border-style: none;
}

.fourBlock h4 {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.fourBlock .divider {
    display: block;
    margin: 15px auto;
}

.divider {
    display: block;
    margin: 30px auto;
}

.fourBlock .hr-line {
    width: 20px;
}

.hr-line {
    height: 3px;
    background: #000;
    margin: auto;
}

.fourBlock p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
}

.category-section {
    background: linear-gradient(to right, #fff, #e1e1e1);
}

.cat-title {
    margin-top: 60px;
}

.icon-articles {
    margin-right: 10px;
}

.wt-articles .wt-articlecontents {
    min-height: 145px !important;
}

.wt-articles1 .wt-articlecontents1 {
    min-height: 338px !important;
}

.wt-articles .wt-articlesimg1 img {
    max-height: 172px !important;
    min-height: 172px !important;
}

.article-margin {
    margin-bottom: 30px !important;
}

li.wt-morecategory {
    padding: 20px;
}

li.wt-morecategory .wt-categorycontentvtwo {
    padding: 10px;
    min-height: 260px;
    z-index: 9;
    background-color: var(--terthemecolorb) !important;
}

.wt-morecategory .wt-categorycontentvtwo:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    z-index: -1;
    background: url(../images/homeseven/img-01.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wt-cattitlevtwo h4 a {
    color: #000 !important;
}

.wt-description1 p {
    color: #000 !important;
}

.wt-description1 p:hover {
    color: #fff !important;
}

.wt-categorycontent {
    background: #fff;
}

.container-cat {
    padding: 60px 0 !important;
}

.wt-sectiontitle {
    padding-bottom: 10px !important;
}

.wt-search-have.show-sform .wt-formbannervtwo {
    background: #f0f0f0 !important;
}

.wt-btn-remove-holder {
    margin-right: 30px !important;
}

.wt-skills-heading {
    padding-bottom: 5px !important;
}

.wt-skills-heading span {
    font-size: 18px;
    color: #000;
}

.wt-sectiontitle h2 {
    font-size: 27px !important;
}

.btn-read-more {
    float: right !important;
    width: 50% !important;
}

.wt-contenthead {
    padding: 16px 0 !important;
}

.wt-freelancer-image {
    height: 100px !important;
    width: 100px !important;
}

.wt-layout-freelancer {
    padding: 60px 0 !important;
}

.wt-main-freelancer {
    padding: 0px 0 !important;
}

.wt-categories-header {
    padding: 0px 0px 36px 60px;
}

.wt-categorieswidgettitle h2 {
    font-size: 30px !important;
    font-weight: 500;
}

.wt-articleimg1 {
    height: 295px !important;
}

.wt-articleimg1 img {
    height: 295px !important;
}

body,
body p {
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}

.wt-bannercontent .wt-bannerhead .wt-description p {
    /* color: #fff !important; */
    font-size: 24px !important;
    font-weight: normal !important;
}

/* .wt-bannercontent .wt-title h1 {
    color: #fff !important;
} */

.wt-checkboxholder .wt-checkbox input[type=checkbox]+label {
    color: #000 !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    text-transform: none !important;
}

.wt-categorycontent:hover h3 {
    color: #fff !important;
}

.wt-categoryslidup p {
    margin: 0 0 8px !important;
}

.fourServices {
    background-position: bottom right;
    background-image: url(../uploads/fourbg.jpg);
    background-repeat: no-repeat;
    padding: 50px ​0 !important;
    background-size: 100%;
}

.wt-companyinfotitle h2 {
    color: #000 !important;
}

.home_signup_box .wt-companycontent .wt-description {
    min-height: 66px !important;
    color: #000 !important;
    font-size: 16px;
}

section.signup_home.home_signup_box {
    padding: 20px 0 0 0;
}

.btn1 {
    background: #b70023 !important;
}

.wt-btnarea .btn2 {
    background: #FFC93C !important;
    color: #000 !important;
}

.article-description {
    padding-bottom: 6px !important;
}

.contact-tab{
    margin-top: 30px;
    margin-bottom: 30px;
}

.percent-mile{
    padding: 6px 8px !important;
}

.wt-userlistingtitletop {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.wt-viewjobholder-employer ul{
    padding-top: 65px !important;
}


.wt-navarticletab li a.active {
    background-color: #29625e !important;
    color: #fff !important;
}

.wt-navdashboard ul li a{
    font-size: 15px !important;
    font-weight: 600;
}

.required-field:after{
        content:" *";
        color: red;
}

.wt-description-feedback{
        width: auto !important;
        float: right;
}

.SingleFreelancePage{
    margin-top: 58px;
}

.wt-userprofileholder-feedback{
    margin-top: 0px;
}

.wt-userprofile-feedback{
    width: 65%;
}

.feedback-font-size{
    font-size: 27px !important;
}

.wt-feedbacks-holder{
    padding: 17px 30px;
}


.wt-dashboardbox .wt-userlistingimg img{
    box-shadow: none !important;
}

.wt-freelancers-skills{
    padding-bottom: 0px !important;
}

.wt-respsonsive-search {
    margin: 29px 14px 20px 6px !important;
}

.wt-proposalsrcontent {
    padding: 10px !important;
}

.tg-authorcodescan {
    padding: 10px !important;
}

.freelancer-banner {
    padding-top: 156px !important;
}

.kpra-form .form-control{
    color: #495057 !important;
}

.wt-userlogedin {
    padding: 24px !important;
}

.wt-userlistingvtwo .wt-userlistingcontentvtwo .wt-rightarea .wt-btnarea span:before{
    height: 2rem !important;
}

.wt-loginformhold{
    right: -128px !important;
}

.wt-forgotpassword-holder button.btn.btn-primary.wt-btn{
    padding: 0 8px;
}

.wt-articlesingle-content p, .wt-articlesingle-content p span, .wt-articlecontents .wt-articlecontents1  .wt-description .article-description p, .wt-articlecontents .wt-articlecontents1  .wt-description .article-description p span, .wt-articlecontents p, .wt-articlecontents p span{
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}

.wt-companycontent .wt-joinasemployer{
    padding-right: 130px;
}

.wt-companycontent .wt-joinasfreelancer{
    padding-left: 130px;
}

.forgot{
    margin-bottom: 10px !important;
}

.invalid-feedback1{
    font-size: 90% !important;
}

.wt-fwidgettitle{
    padding-top: 26px !important;
}

#main-search-form{
    display: none !important;
}

/* #wt-header1{
    transition: top 0.3s;
    position: fixed;  
    top: -10px; 
    width: 100%;
    background-color: #fff;
} */

.wt-contenthead12{
    max-width: 500px !important;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .wt-articlesuser .wt-particlehold figure{
    background: none !important;
  }

  .wt-particlehold figure{
    background: none !important;
}


.wt-formregister .wt-registerformgroup .form-group{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.wt-registerformgroup .form-group p {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

input.social_links_id {
    width: 70% !important;
}

.no-line-r
{ border-top:none !important;
border-bottom: none !important;
border-left:none !important; }

.no-line-l
{ border:none !important; }

.social_link_delete_icon .wt-deleteinfo {
    font-size: 22px !important;
    background: none !important;

}

.delete-file .wt-deleteinfo {
    font-size: 14px !important;
    background: none !important;
}

  /* .wt-haslayout .wt-bannerholder{
    -webkit-box-shadow: 1px 6px 11px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 6px 1px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 11px 0px rgb(0 0 0 / 75%);
  } */
  /* .freelancer-carasoul .carousel-control-prev-icon{
    color: #318d64 !important;
}

.freelancer-carasoul .carousel-control-next-icon{
    color: #318d64 !important;
}

.SingleFreelancePage .carousel-control-next-icon{
    background: none !important;
}

.SingleFreelancePage .carousel-control-prev-icon{
    background: none !important;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-color: #fff !important;
  background-image: none !important;
}

.carousel-control-next-icon:after
{
  content: '>' !important;
  font-size: 55px;
  color: #318D64 !important;
}

.carousel-control-prev-icon:after {
  content: '<' !important;
  font-size: 55px;
  color: #318D64 !important;
}

table.wt-tablecategories tbody tr td .wt-milestones-actionbtn {
    display: inline !important;
}

div#ui-datepicker-div{
    z-index: 15 !important;
}

.wt-openmenu #wt-main {
    left: 200px;
    position: relative;
    transition: width 2s;
    width: 85%;
}

.wt-openmenu .wt-insightsitem {
    padding: 5px;
}

.wt-openmenu  .wt-insightdetails .wt-title h3 {
    line-height: 1.3;
}


@media (max-width: 3000px) and (min-width: 1681px) {
    .wt-openmenu #wt-main {
        left: 15px;
        position: relative;
        transition: width 2s;
        width: 100%;
    }
}

div#wt-sidebarwrapper div#mCSB_1 {
    overflow-y: scroll;
}

.bell-notification {
    float: right;
    padding: 9px;
    font-size: 20px;
}

/* .alert-notification {
    background-color: #F4F4D5;
} */

.notifications-list{
    padding: 1.6rem 1.2rem;
}

li.notifications-list{
    width: 80%;
    background-color: #F4F4EE;
}

.wt-insightnotificon-bell {
    top: 7px;
    right: 16px;
    content: '';
    width: auto;
    height: auto;
    border-radius: 50%;
    position: absolute;
    background: #b70023;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 10%;
    vertical-align: middle;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

.mark-as-read {
    background: transparent;
    color: #318D64;
}

/* Responsiveness */

@media (max-width: 1199px) {
    .wt-postarticlemeta li:first-child {
        padding-left: 152px;
    }
    .employer-job1 {
        margin-right: auto;
    }
    a.wt-btn.wt-btn-2 {
        padding: 0 40px !important;
    }
    .wt-articles .wt-articlecontents {
        min-height: 121px !important;
    }
    .wt-tablecategories thead tr th, table.wt-tablecategories tbody tr td {
        padding: 0px 7px !important;
    }
}

@media (max-width: 1058px) {
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        left: 7px !important;
    }
}

@media (max-width: 1024px) {
    .freelancer-feedbacks-section {
        padding-right: 6rem;
        padding-top: 1rem;
    }
}

@media (max-width: 991px) {
    .wt-rightarea .wt-nav .navbar-toggler {
        color: #fff;
        outline: none;
        margin: 29px 20px !important;
        padding: 6px 10px;
    }
    .wt-footerholder .container{
        max-width: 100% !important;
    }
    .wt-postarticlemeta li:first-child {
        padding-left: 82px;
    }
    .float-right.freelancer-feedbacks-section-alone {
        padding-right: 17rem;
    }
    #freelancer-left-sidebar {
        min-height: auto;
    }
    .employer-job1 .wt-companysinfo figure {
        max-width: 39% !important;
    }
    a.wt-btn.wt-btn-2 {
        padding: 0 15px !important;
    }
    .wt-articles .wt-articlecontents {
        min-height: 197px !important;
    }
    .wt-articleimg1 img {
        height: 207px !important;
    }
    .wt-articleimg1 {
        height: 207px !important;
    }
    .mianheader .wt-haslayout .wt-bannerholder .col-lg-7 {
        flex: 0 0 58.3333333333% !important;
        max-width: 52.333333% !important;
    }
    .wt-bannercontent {
        padding: 0px 0 !important;
    }
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        left: 70px !important;
        top: 13vh !important;
        width: 110%;
    }

}

@media (max-width: 900px){
    /* .mianheader.wt-haslayout.wt-bannerholder {
        height: auto !important;
    } */
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        top: 13vh !important;
        left: 57px !important;
    }
    .wt-bannercontent {
        padding: 0px 0 !important;
    }
    .wt-bannercontent .wt-title h1 {
        font-size: 38px !important;
        line-height: 45px !important;
    }
    .wt-description {
        padding-bottom: 11px !important;
    }
    .wt-haslayout .wt-bannerholder .wt-formbanner {
       margin: 0px 0 72px !important;
    }
}

@media (max-width: 850px){
    .wt-search-have.show-sform .wt-formbannervtwo {
        right: 0;
        width: 100%;
        padding: 13px 30px;
    }
}

@media (max-width: 768px) {
    .freelancer-feedbacks-section {
        padding-right: 6rem;
    }
    .wt-articles .wt-articlecontents {
        min-height: 199px !important;
    }
    .wt-companycontent .wt-joinasemployer{
        padding-right: 112px;
    }
    .wt-companycontent .wt-joinasfreelancer{
        padding-left: 91px;
    }
}

@media (max-width: 767px) {
    #wrapper1:after{
        display: none;
    }
    .wt-companycontent{
        padding: 0px !important;
    }
    .wt-postarticlemeta li:first-child {
        padding-left: 141px;
    }
    .float-right.freelancer-feedbacks-section-alone {
        padding-right: 12rem;
    }
    a.wt-btn.wt-btn-2 {
        padding: 0 50px !important;
    }
    .wt-articlesholder {
        margin-top: 0px !important;
    }
}

@media (max-width: 764px) {
    .wt-footerholder {
        padding: 110px 0;
    }
}

@media (max-width: 720px) {
 .wt-logo img {
    max-width: none;
 }
 /* .wt-headervtwo .wt-navigationarea .wt-logo {
    width: 182px;
 } */
 .wt-headervtwo .wt-navigationarea .wt-logo {
    border: 0;
    padding: 0;
    float: none;
    width: 200px;
    display: block;
    margin: 20px auto 20px;
}
}

@media (max-width: 575px) {
    .wt-footerholder {
        padding: 180px 0;
    }
    #user_profile .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 568px) {
    i.fa.fa-close {
        margin-right: -11px;
    }
}

@media (max-width: 556px){
    .wt-headervtwo .wt-navigationarea .wt-logo {
        border: 0;
        padding: 0;
        float: none;
        width: 200px;
        display: block;
        margin: 20px auto 20px;
    }
}

@media (max-width: 518px) {
    .freelancer-feedbacks-section {
        padding-right: 11rem;
        padding-top: 1rem;
    }

    .freelancer-send-offer-button {
        padding-left: 7rem !important;
    }
}

@media (max-width: 479px) {
    .wt-footerlogohold img{
        height: 58px !important;
        max-width: auto !important;
    }
    .wt-footerlogohold>.wt-description>p {
        font-size: 14px;
    }
}

@media (max-width: 439px) {
    a.wt-btn.wt-btn-2 {
        padding: 0px 35px !important;
    }
    .wt-userlogedin {
        padding-left: 0px !important;
        padding-top: 24px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media (max-width: 438px) {
    .wt-forgotpassword-holder .wt-btn {
            padding: 0 6px !important;
    }
}

@media (max-width: 428px) {
    .la-email-warning ul li {
        float: right !important;
        width: 85% !important;
    }
}

@media (max-width: 425px) {
    .wt-postarticlemeta li:first-child {
        padding-left: 88px;
    }
    
    .freelancer-feedbacks-section {
        padding-right: 7rem;
        padding-top: 1rem;
    }

    .freelancer-send-offer-button {
        padding-left: 5rem !important;
    }

    .float-right.freelancer-feedbacks-section-alone {
        padding-right: 7rem;
    }
}

@media (max-width: 400px) {
    .wt-loginformhold {
        width: 275px !important;
        left: -76px;
        right: 0px;
    }
    
}

@media (max-width: 388px) {
    .wt-respsonsive-search {
        margin: 29px 0px 20px 0px !important;
    }
}

@media (max-width: 379px) {
    a.wt-btn.wt-btn-2 {
        padding: 0px 25px !important;
    }
}

@media (max-width: 375px) {
    .wt-postarticlemeta li:first-child {
        padding-left: 62px;
    }
    
    .freelancer-feedbacks-section {
        padding-right: 6rem;
        padding-top: 1rem;
    }
    .freelancer-send-offer-button {
        padding-left: 3rem !important;
    }
    .float-right.freelancer-feedbacks-section-alone {
        padding-right: 6rem;
    }
}

@media (max-width: 368px){
    .wt-rightarea1 .wt-nav .navbar-toggler {
        margin: 29px 6px !important;
    }
}

@media (max-width: 350px){
    .wt-forgotpassword-holder .wt-btn {
        font: 400 12px/32px 'Poppins', Arial, Helvetica, sans-serif !important;
    }
}

@media (max-width: 346px){
    .wt-rightarea1 .wt-loginarea>.wt-btn {
        padding: 0 8px;
        line-height: 36px;
    }
}

@media (max-width: 339px) {
    a.wt-btn.wt-btn-2 {
        padding: 0px 15px !important;
    }
    .wt-tablecategories thead tr th, table.wt-tablecategories tbody tr td {
        padding: 3px !important;
    }
}

@media (max-width: 334px) {
    .wt-rightarea .wt-nav .navbar-toggler {
        color: #fff;
        outline: none;
        margin: 29px 0px !important;
        padding: 6px 10px;
    }
    .wt-rightarea1 .wt-nav .navbar-toggler {
        color: #fff;
        outline: none;
        margin: 29px 4px !important;
        padding: 6px 10px;
    }
}

@media (max-width: 328px) {
    .wt-rightarea1 .wt-loginarea {
        padding-left: 4px;
        padding: 0px 2px 0px 2px;
}
}

@media (max-width: 320px) {
    .wt-postarticlemeta li:first-child {
        padding-left: 28px;
    }
    
    .wt-proposalholder .wt-job .wt-btnarea .wt-btn {
        padding: 0 15px;
    }

    .freelancer-feedbacks-section {
        padding-right: 4rem;
        padding-top: 1rem;
    }
    .freelancer-send-offer-button {
        padding-left: 1rem !important;
    }
    .float-right.freelancer-feedbacks-section-alone {
        padding-right: 4rem;
    }
}

@media (max-width: 300px) {
    .wt-loginarea {
        width: auto;
        float: right;
        margin-top: 28px;
        padding: 0px 0px 0px 0px !important;
        border-left: none !important;
    }
    .wt-loginformhold {
        width: 256px !important;
    }
}

@media (max-width: 299px) {
    a.wt-btn.wt-btn-2 {
        padding: 0px 5px !important;
    }
}



/* .wt-bannerhead {
    float: left;
    width: 100%;
    margin: 141px 0 0px !important;
} */

@media (max-width: 991px) {
    .mainheader.wt-haslayout.wt-bannerholder{
        /* width: 100%;
        background-position: 50% 50% !important; */
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50% !important;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    .wt-formbanner.wt-formbannertwo fieldset .form-group .form-control {
        padding: 10px 36px 10px 250px; 
    }
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannerimages{
        display: none !important;
    }
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        top: 12vh !important;
        left: 25px !important;
        width: 106% !important;
    }
    .wt-formbanner.wt-formbannertwo fieldset .form-group .form-control {
        padding: 10px 70px 10px 225px;
    }
}
@media (max-width: 611px){
.mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
    left: 0px !important;
}
}
@media (max-width: 575px) {
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        top: 13vh !important;
        left: 148px !important;
        width: 72% !important;
    }
    .wt-formbanner.wt-formbannertwo fieldset .form-group .form-control {
        padding: 10px 70px 10px 234px;
    }

}

@media (max-width: 520px) {
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        top: 13vh !important;
        left: 97px !important;
    }
    .wt-bannercontent .wt-title h1 {
        font-size: 32px !important;
        line-height: 36px !important;
    }
    .wt-bannercontent .wt-bannerhead .wt-description p {
        font-size: 20px !important;
    }
}

@media (max-width: 425px) {
    .mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
        top: 10vh !important;
        left: 106px !important;
    }

}

@media (max-width: 363px){
.mianheader.wt-haslayout.wt-bannerholder .wt-bannercontent {
    top: 10vh !important;
}
}

@media only screen and (max-width: 760px), (min-width: 768px)  and (max-width: 1024px)  {

		
		table, thead, tbody, th, td, tr {
			display: block;
		}

		
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #fcfcfc;
    }
    
		td {
		
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
        }
        
        .wt-orders-admin td {
            border-bottom: none !important;
            border-top: none !important;
        }
        .wt-orders-admin table, thead, tbody, th, td, tr {
            display: revert !important;
        }

    }
    @media (min-width: 1200px) {
    .wt-articles1 .wt-articlecontents1 {
        height: 370px !important;
    }
}

.wt-cancelled {
    background: #F1E0E0 !important;
}

.language-settings select{
    height: auto !important;
}

.dashboard-note{
    font-size: 30px;
}

/* Popup Open button */ 
/* .open-button{
    color:#FFF;
    background:#0066CC;
    padding:10px;
    text-decoration:none;
    border:1px solid #0157ad;
    border-radius:3px;
}
 
.open-button:hover{
    background:#01478e;
} */
 
.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1060;
    overflow-x: hidden;

}
 
/* Popup inner div */
.popup-content {
    font: 500 20px/22px 'Poppins', Arial, Helvetica, sans-serif;
    color: #323232;
    width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 56px;
    margin-top: 50vh;
    align-items: center;
    /* box-shadow: 0px 2px 6px rgb(128, 105, 105); */
    border-radius: 3px;
    background: #fff;
    position: relative;
    text-align: center;
}
 
/* Popup close button */
.close-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 20px;
    background: rgb(175, 58, 58);
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration:none;
}
 
.close-button:hover {
    background: rgba(0,0,0,1);
}
 
@media screen and (max-width: 720px) {
.popup-content {
    width:90%;
    } 
}

.wt-eye {
    margin-left: 10px !important;
}

.button-create {
    padding: 0px 32px !important;
}